:root {
    font-size: 1em;
    box-sizing: border-box;
}

*, ::before, ::after {
box-sizing: inherit;
}

body * + * {
    margin-top: 0.5em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    background: #2A7B9B;
    background: linear-gradient(127deg, rgba(42, 123, 155, 1) 0%, rgba(231, 252, 234, 1) 0%, rgba(221, 233, 250, 1) 100%);
    max-height: 100vh;
}

.container {
    width: 400px;
    height: 100vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.8em;
}

.header {
    padding: 0.8em 1em;
}

header {
    border-bottom: 1px solid rgba(198, 198, 198, 0.5);
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.wrapper {
    padding:  0.8em 1em;
}

h1 {
    text-align: center;
   
}

h3 {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color:  rgb(198, 198, 198);
}

.search {
    padding: 0.2em 0.5em;
}

.taskform {
    width: 100%;
    padding: 1em 0;
    display: flex;
    
}

.taskform > input:not([type=checkbox]):not([type=radio]) {
    display: block;
    width: 80%;
    border-radius: 1em 0 0 1em;
    padding: 1em;
    border: 0;
    background-color: rgba(198, 198, 198, 0.5);
    
}

.taskform > input:hover:not([type=checkbox]):not([type=radio]) {
    border: 0;
    outline: none;
}

.taskform > input:active:not([type=checkbox]):not([type=radio]) {
    box-shadow: inset 0 0 hsla(240, 49%, 18%, 0.5);
    outline: thin none;
}

.taskform > button {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1em;
    /*margin-left: 0.1em;*/
    width: 25% ;
    border-radius: 0 1em 1em 0;
    border: 0;
    color: white;
    background-color: rgb(252, 122, 66);
    
}

.taskform > button:hover {
    background-color: white;
    border: 0;
    color: rgb(252, 122, 66);
}
.add {
    margin-top: 0;
}

.list {
    padding: 0.2em 0.5em;
    width: 100%;

}

.item {
    border-radius: 0.5em;
}

.item:nth-child(even) {
    background-color: rgba(216, 216, 216, 0.2);
}

.item > ul {
    padding: 0.5em 0;
    margin: 0;
}

.item > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.item > ul > li > button {
    margin-left: auto;
    margin-right: 0.5em;
    border: 0;
    border-radius: 0.3em;
    margin-top: 0;
    background-color: transparent;
}

.item > ul > li > button:hover {
    border: 1px solid red;
}

.check {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.delete {
    background-color: transparent;
    width: 1.5em;
    height: 1.5em;
}

.delete:hover {
    color: red;
    
}

.line {
    text-decoration: line-through;
    color: rgb(153, 153, 153);
}

.hidden {
    display: none;
}

#complete {
    color: rgba(198, 198, 198, 0.5);
    background-color: transparent;
    transition: color, 1s, linear , 
                background-color, 1s, linear;
}

#complete.test {
    color: white;
    background-color: green;
}

/*@media (min-width: 400px) {
    :root {
        font-size: 1.2em;
    }

    .taskform {
        padding: 0.5em 0;
    }

    .container {
        width: 640px;
    }
    
}*/
